pre {
  overflow: scroll;
  background-color: #e8e8e8;
  border-radius: 0.3em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  padding: 0;
}

li {
  margin: 1em 1.8em;
}

.box {
  color: #fff;
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 95px;
}

.box:hover {
  background: #ff7b29;
}

.transition-property .box {
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 95px;
}
.transition-property .box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

.transition-duration .box {
  transition-property: background, border-radius;
  transition-duration: 0.2s, 1s;
  transition-timing-function: linear;
}
.transition-duration .box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

.transition-timing .box {
  transition-property: background, border-radius;
  transition-duration: 0.2s, 1s;
  transition-timing-function: linear, ease-in;
}
.transition-timing .box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

.transition-delay .box {
  transition-property: background, border-radius;
  transition-duration: 0.2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
}
.transition-delay .box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

.shorthand-transitions .box {
  background: #2db34a;
  border-radius: 6px;
  transition: background 0.2s linear, border-radius 1s ease-in 1s;
}
.shorthand-transitions .box:hover {
  background: #ff7b29;
  border-radius: 50%;
}

.transitional-button button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all 0.1s linear;
}
.transitional-button button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.card-container {
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

@-webkit-keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.animation-keyframes .stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.animation-keyframes .stage:hover .ball {
  -webkit-animation: slide 2s linear;
          animation: slide 2s linear;
}
.animation-keyframes .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.animation .stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.animation .stage:hover .ball {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.animation .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.animation-iteration .stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.animation-iteration .stage:hover .ball {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.animation-iteration .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.animation-direction .stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.animation-direction .stage:hover .ball {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.animation-direction .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.animation-play-state .stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.animation-play-state .stage:hover .ball {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.animation-play-state .stage:active .ball {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.animation-play-state .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.animation-fill-mode .stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.animation-fill-mode .stage:hover .ball {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.animation-fill-mode .stage:active .ball {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.animation-fill-mode .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.shorthand-animations .stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.shorthand-animations .stage:hover .ball {
  -webkit-animation: slide 2s ease-in-out 0.5s infinite alternate;
          animation: slide 2s ease-in-out 0.5s infinite alternate;
}
.shorthand-animations .stage:active .ball {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.shorthand-animations .ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}/*# sourceMappingURL=style.css.map */