.max-width {
    display: block;
    max-width: 100%;
}

.sizing {
    height: 200px;
}

.block {
    display: block;
}

.float-right {
    background: #eaeaed;
    border: 1px solid #9799a7;
    float: right;
    margin: 8px 0 0 20px;
    padding: 4px;
}

p {
    overflow: auto;
}
